body {
	background-color: #ebebeb;
}


._container {
	margin: 0px auto;
	box-sizing: content-box;
}


.header {
	background-color: #feebef;
	height: 60px;
	width: 100%;
	position: sticky;
}


.header__container {
	display: flex;
	justify-content: space-around;
	margin-top: 6px;
}


.header__menu {
	display: flex;
	align-items: center;
}


.header__logo {

}


.logo {
	display: block;
	width: 145px;
	height: 40px;
	padding: 23px;
    background-image: url("/static/img/logo.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}



.menu__buttons {
    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
}


.button {
	color: #000;
	text-transform: uppercase;
	padding: 10px;
}


.on-hover:hover {
	color: #e55c78
}


.content__container {
	display: flex;
	flex-direction: column;
	font-family: inherit;
	width: 50%;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 30px;
	padding: 20px;
}


.content__title {
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	font-weight: 900;
	text-transform: uppercase;
	flex-wrap: wrap;
}


.title__link {
    color: #000;
}


.content__author {
	font-size: 16px;
	font-weight: 300;
	color: #919191;
	text-transform: capitalize;
	margin: 20px auto auto 0;
}


.content__body {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	margin: 20px 0 0 0;
}


.user-menu {
	display: flex;
	align-items: center;
	background-color: #d1d1d1;
	height: 30px;
	width: 100%;
	position: sticky;
}


.user-menu__container {
    display: flex;
    margin: 0 0 0 auto;
    width: 43%
}


.user-menu__greetings {
    font-size: 14px;
    font-weight: 300;
    color: #000;
}


.user-menu__buttons {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 0 20px;
}


.title {
    color: #000;
    text-transform: uppercase;
}


.post_new {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_new > p {
    margin: 20px;
}


.post_new > select, input, textarea, button {
    background-color: #e3e3e3;
    padding: 10px;
    margin: 0 auto 0 auto;
}

